@charset "UTF-8";
@import "../fonts/fonts.css";
@import "./header.css";
@import "./clean.css";

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Proxima Nova", sans-serif;
}

:root {
  --text-main: #171c25;
  --text-secondary: #747c8c;
  --text-colored: #ed1c24;
  --text-link: #0062ff;
  --text-success: #00ab66;
  --block-page: #fafafb;
  --block-element: #ffffff;
  --block-secondary: #ffffff;
  --border-inside: #e8e9ed;
  --border-outside: #171725;
  --shadow-popup: 0 0 1px rgba(46, 56, 75, .24), 0 8px 20px rgba(46, 56, 75, .08);
  --transition-all: background-color .3s linear, color .3s linear, margin-left .3s ease;
  font-size: 100%;
  line-height: 2;
  -webkit-font-feature-settings: "pwid";
  font-feature-settings: "pwid";

  --const-stack: 1.28rem;
  --stack-top: 1.28rem;
  --stack-bottom: 0;
  --first-stack-top: 0;
  --first-stack-bottom: 0;
  --last-stack-top: 0;
  --last-stack-bottom: 0;
}

body {
  transition: var(--transition-all);
  background-color: var(--block-page);
  color: var(--text-main);
  margin: 0;
  height: 100%;
}

.dark-theme {
  --text-main: #d0d0d0;
  --text-secondary: #999999;
  --block-page: #21232a;
  --block-element: #2c2f37;
  --block-secondary: #3e424b;
  --border-inside: #464646;
  --border-outside: #464646;
  --text-link: #5fb0ff;
}

.no-transition, .no-transition * {
  transition: none !important;
}

main {
  display: block;
  padding: 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.pinned main {
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 960px;
}

h1 {
  margin: .67em 0;
  font-size: 240%;
  line-height: 1.42;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: visible;
  background-color: #cccccc;
  height: 2px;
  border: 0;
}

a {
  background-color: transparent;
  cursor: pointer;
  color: var(--text-link);
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
  display: inline-block;
  line-height: 0;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
/* h1, */
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  /* margin: 0; */
}

h1 {
  margin: 0;
}

element.style {
}
.imageblock>.title {
    margin-bottom: 0;
}

.admonitionblock td.content>.title,
.audioblock>.title,
.exampleblock>.title,
.imageblock>.title,
.listingblock>.title,
.literalblock>.title,
.stemblock>.title,
.openblock>.title,
.paragraph>.title,
.quoteblock>.title,
table.tableblock>.title,
.verseblock>.title,
.videoblock>.title,
.dlist>.title,
.olist>.title,
.ulist>.title,
.qlist>.title,
.hdlist>.title {
    text-rendering: optimizeLegibility;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-style: normal;
    padding-top: 10px;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: bold;
  line-height: 2;
}

cite {
  font-style: normal;
}

h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  font-size: 75%;
  font-weight: normal;
}

h1 {
  font-size: 200%;
  line-height: 1.4;
}

h2 {
  font-size: 180%;
  line-height: 1.5;
}

h3 {
  font-size: 160%;
  line-height: 1.625;
}

h4 {
  font-size: 140%;
  line-height: 1.71;
}

h5 {
  font-size: 120%;
  line-height: 1.83;
}

h6 {
  font-size: 100%;
  line-height: 2;
}

a:focus, a:active, a:hover {
  text-decoration: underline;
  opacity: .5;
}

p {
  font-size: 100%;
}

img, video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--border-inside);
  width: 100%;
  transition: border linear .3s;
}

th,
td {
  border-top: 1px solid var(--border-inside);
  border-right: 1px solid var(--border-inside);
  padding: .6rem;
  transition: background-color linear .3s, border linear .3s;
}

th,
tr:nth-child(even) td {
  background: var(--block-element);
}

th {
  background: var(--block-element);
  font-weight: bold;
  text-align: left;
}

ul {
  list-style-type: disc;
}

ul.no-style {
  list-style: none;
  padding-left: 0;
}

ul.inline {
  list-style: none;
  padding-left: 0;
}

ul.inline li {
  display: inline;
  padding-right: 2rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2rem;
}

blockquote {
  color: #999999;
  padding: 1.28rem;
  background-color: var(--block-secondary);
  border-left: 4px solid #f0f0f0;
  border-radius: .2rem;
}

code,
pre,
kbd {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code,
kbd {
  padding: .2rem;
  border-radius: .2rem;
}

code {
  background-color: var(--block-secondary);
}

kbd {
  color: #ffffff;
  background-color: #333333;
}

pre {
  background-color: var(--block-secondary);
  padding: 1.28rem;
  overflow: auto;
  white-space: pre-wrap;
  border-radius: .2rem;
  font-family: monospace, monospace;
  font-size: .8em;
}

pre code {
  padding: 0;
  background-color: unset;
}

pre.wrap {
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}

pre.scrollable {
  max-height: 240px;
  overflow-y: scroll;
}

figcaption {
  color: #333333;
  font-size: 100%;
  line-height: 2;
}

.first-stack, main * {
  margin-top: var(--first-stack-top, unset);
  margin-bottom: var(--first-stack-bottom, unset);
}

.stack,
main * + h1,
main * + h2,
main * + h3,
main * + h4,
main * + h5,
main * + h6,
main * + p,
main * + hr,
main * + table,
main * + ul,
main * + ol,
main * + dl,
main * + blockquote,
main * + pre,
main * + figure,
.table_of_contents,
.edit-meta,
.edit-page,
.pagination,
.highlight,
.powered,
.panel,
.button,
.gist,
.twitter-tweet,
.ais-Hits-item,
.code {
  margin-top: var(--stack-top, unset);
  margin-bottom: var(--stack-bottom, unset);
}

.logo {
  width: 148px;
}

.last-stack {
  margin-top: var(--last-stack-top, unset);
  margin-bottom: var(--last-stack-bottom, unset);
}

.stack-multi--by2 {
  margin-top: calc(var(--first-stack-top, unset) * 2);
  margin-bottom: calc(var(--first-stack-bottom, unset) * 2);
}

.stack-multi--by4 {
  margin-top: calc(var(--first-stack-top, unset) * 4);
  margin-bottom: calc(var(--first-stack-bottom, unset) * 4);
}

.stack-divi--by2 {
  margin-top: calc(var(--first-stack-top, unset) / 2);
  margin-bottom: calc(var(--first-stack-bottom, unset) / 2);
}

.none-stack,
figure > figcaption,
.pagination > *,
.code .code-content .highlight {
  margin-top: 0;
}

.unset-stack,
main li > ul,
main li > ol,
.ais-Hits-item p {
  margin-top: unset;
}

.container {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  margin: auto;
}

.content-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  padding-top: 64px;
}

main:only-child {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15px;
  background-image: url("/img/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
}

.hide-sidebar .sidebar-toggle {
  transform: rotate(-180deg);
}

.sidebar-toggle:hover {
  background-color: var(--block-page);
}

.pagination {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: bold;
}

.nav-next {
  margin-left: auto;
}

.inner-pages > ul {
  margin: 0;
}

.panel {
  --panel-font-color: #000000;
  --panel-background-color: unset;
  --panel-border-color: transparent;
  padding: 1.28rem;
  color: var(--panel-font-color, #000000);
  background: var(--panel-background-color, unset);
  border: 1px solid;
  border-color: var(--panel-border-color, transparent);
}

.panel a {
  text-decoration: underline;
  font-weight: bold;
}

.panel-primary {
  --panel-border-color: #f0f0f0;
}

.panel-notice {
  --panel-font-color: #ffffff;
  --panel-background-color: #4ba0e1;
  --custom-link-text-hover-color: #ffffff;
}

.panel-success {
  --panel-font-color: #ffffff;
  --panel-background-color: #609f43;
  --custom-link-text-hover-color: #ffffff;
}

.panel-caution {
  --panel-font-color: #ffffff;
  --panel-background-color: #de776d;
  --custom-link-text-hover-color: #ffffff;
}

.panel-warning {
  --panel-font-color: #ffffff;
  --panel-background-color: #e67e22;
  --custom-link-text-hover-color: #ffffff;
}

.panel-danger {
  --panel-font-color: #ffffff;
  --panel-background-color: #ce3426;
  --custom-link-text-hover-color: #ffffff;
}

.button {
  display: inline-block;
  font-size: 120%;
  padding: .5rem 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: .8rem;
  --button-font-color: #000000;
  --button-font-hover-color: #000000;
  --button-background-color: #fafafa;
  --button-background-hover-color: #f7f7f7;
  --button-border-color: #f0f0f0;
  color: var(--button-font-color, #000000);
  background: var(--button-background-color, unset);
  border: 2px solid;
  border-color: var(--button-border-color, transparent);
}

.button:hover {
  color: var(--button-font-hover-color, #000000);
  text-decoration: none;
  background: var(--button-background-hover-color, unset);
}

.button-notice {
  --button-font-color: #ffffff;
  --button-font-hover-color: #ffffff;
  --button-background-color: #4ba0e1;
  --button-background-hover-color: #3b89c5;
  --button-border-color: transparent;
}

.button-success {
  --button-font-color: #ffffff;
  --button-font-hover-color: #ffffff;
  --button-background-color: #369b08;
  --button-background-hover-color: #256905;
  --button-border-color: transparent;
}

.button-caution {
  --button-font-color: #ffffff;
  --button-font-hover-color: #ffffff;
  --button-background-color: #f56558;
  --button-background-hover-color: #d45145;
  --button-border-color: transparent;
}

.button-warning {
  --button-font-color: #ffffff;
  --button-font-hover-color: #ffffff;
  --button-background-color: #f5811b;
  --button-background-hover-color: #db7012;
  --button-border-color: transparent;
}

.button-danger {
  --button-font-color: #ffffff;
  --button-font-hover-color: #ffffff;
  --button-background-color: #ce3426;
  --button-background-hover-color: #a0281d;
  --button-border-color: transparent;
}

.notification {
  padding: .2rem 1.28rem;
  text-align: center;
  background: #eeeeee;
}

.backtothetop {
  display: none;
  font-size: 200%;
}

.fa-layers .fa-circle {
  color: #ffffff;
}

figure > figcaption h4 {
  font-size: 80%;
  font-weight: normal;
}

.table_of_contents {
  font-size: 90%;
  padding: 1.28rem;
  border: 4px solid #f0f0f0;
}

.table_of_contents ul {
  list-style: none;
  padding-left: 0;
}

.table_of_contents li {
  border-top: 1px solid #f0f0f0;
}

.table_of_contents > nav > ul > li:first-child {
  border-top: unset;
}

.table_of_contents ul > li li a {
  margin-left: 2rem;
}

.table_of_contents ul ul > li li a {
  margin-left: 4rem;
}

.table_of_contents ul ul ul > li li a {
  margin-left: 6rem;
}

.table_of_contents ul ul ul ul > li li a {
  margin-left: 8rem;
}

.table_of_contents ul ul ul ul ul > li li a {
  margin-left: 10rem;
}

.headerlink > .svg-inline--fa {
  margin-left: .4rem;
  width: .8rem;
}

.ais-SearchBox .ais-SearchBox-input {
  width: 70%;
}

.ais-SearchBox button {
  margin-left: .2rem;
  padding: .4rem;
}

.ais-Stats {
  font-size: 80%;
  color: #70757a;
}

.ais-Hits-item h3 {
  font-size: 140%;
  font-weight: normal;
}

.ais-Hits-item p {
  color: #3c4043;
}

.ais-Hits-item .lastmod {
  font-size: 90%;
  color: #70757a;
}

.ais-Pagination {
  margin-top: 1em;
}

.ais-Pagination-list {
  list-style: none;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ais-Pagination-item {
  padding: .6rem;
}

.code {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.code .filename {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  font-size: 80%;
  color: #666666;
}

.code .copy-btn {
  margin-left: auto;
  cursor: pointer;
  position: relative;
  font-size: 80%;
  border: solid 1px #cccccc;
  padding: .2rem .6rem;
  border-radius: .3rem;
  line-height: 1;
  margin-bottom: .2rem;
  outline: none;
}

.code .code-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.tooltipped::after {
  content: "Copied!";
  background: #555555;
  display: inline-block;
  color: #ffffff;
  border-radius: .4rem;
  position: absolute;
  left: 50%;
  top: -1.8rem;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: .75rem;
  padding: 4px 10px 6px 10px;
}

@-webkit-keyframes fade-tooltip {
  to {
    opacity: 0;
  }
}

@keyframes fade-tooltip {
  to {
    opacity: 0;
  }
}

header {
  padding: .5rem 1.28rem;
  box-shadow: var(--shadow-popup);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--block-element);
  transition: background-color linear .3s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header .version {
  margin-left: .4rem;
  font-size: 80%;
}

header .github {
  color: currentColor;
  margin-left: .4rem;
  font-size: 180%;
}

.global-menu {
  padding: .2rem 1.28rem;
}

.global-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.global-menu li {
  display: inline-block;
  margin-right: 1.8rem;
  position: relative;
}

.global-menu ul.sub-menu {
  display: none;
  margin: 0;
  position: absolute;
  top: 1.8rem;
  left: 0;
  z-index: 99999;
}

.global-menu ul.sub-menu li {
  padding: .2rem 1.28rem;
  width: 140px;
  font-size: 80%;
}

.global-menu .fa-angle-right {
  margin-left: .4rem;
  font-size: 80%;
}

.global-menu li.parent:hover > ul.sub-menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.global-menu a {
  display: block;
  color: currentColor;
  text-decoration: none;
}

.global-menu a:hover {
  text-decoration: underline;
}

.sidebar {
  font-size: 90%;
  line-height: 1.8;
  background-color: var(--block-element);
  border-right: 1px solid var(--border-inside);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-ordinal-group: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  max-width: 25%;
  transition: background-color .3s linear, border linear .3s;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 64px;
  padding-right: 15px;
}

.sidebar-list {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  overflow: auto;
  height: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 20vw;
}

.sidebar a {
  transition: border-bottom .3s linear;
  position: relative;
  display: block;
  color: var(--text-main);
  text-decoration: none;
  padding: .2rem 1.5rem;
  border-bottom: solid 1px var(--border-inside);
}

.sidebar a:hover, .sidebar .active > a {
  background-color: var(--block-page);
}

.sidebar nav > ul > li li a {
  padding-left: 2rem;
}

.sidebar nav > ul ul > li li a {
  padding-left: 3rem;
}

.sidebar nav > ul ul ul > li li a {
  padding-left: 4rem;
}

.sidebar nav > ul ul ul ul > li li a {
  padding-left: 5rem;
}

.sidebar nav > ul ul ul ul ul > li li a {
  padding-left: 6rem;
}

.sidebar .slide-menu .has-sub-menu:not(.parent) ul {
  display: none;
}

.sidebar .slide-menu .has-sub-menu > a span.mark {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 2;
  text-align: center;
  color: #979797;
  background: #f2f2f2;
  border-left: 1px solid #e7e7e7;
}

.edit-meta {
  font-size: 80%;
  text-align: right;
}

.edit-page {
  font-weight: bold;
}

.powered {
  font-size: 80%;
  text-align: right;
  color: #999999;
}

.pin-button-container {
  background-color: var(--block-element);
  flex-shrink: 0;
  padding: 10px;
  transition: background-color .3s linear;
}

.pinned {
  display: block;
}

.not-pinned {
  display: none;
}

.pinned, .not-pinned {
  stroke: var(--text-main);
}

.pinned .pinned {
  display: none;
}

.pinned .not-pinned {
  display: block;
}

.pinned .sidebar-toggle {
  display: none;
}

.hide-sidebar .pin-button-container {
  display: none;
}

.pin-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .hide-sidebar .sidebar-list {
    display: none;
  }

  .pinned .content-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
  }

  .pinned .sidebar {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    margin-top: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .pin-button-container {
    display: none;
  }

  .pagination {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-next {
    margin-left: 0;
  }

  .content-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: unset;
  }

  main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 100%;
    padding: 1rem;
  }

  .sidebar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-width: unset;
    position: unset;
    padding-top: 0;
  }

  .global-menu li {
    display: block;
    margin-right: 0;
    border-bottom: 1px solid currentColor;
  }

  .global-menu li:last-child {
    border-bottom: none;
  }

  .global-menu .fa-angle-right {
    display: none;
  }

  .global-menu ul.sub-menu {
    display: block;
    position: static;
  }

  .global-menu ul.sub-menu li {
    width: auto;
    background: transparent;
    padding: 0 .4rem;
  }

  .global-menu ul.sub-menu li + li {
    padding-top: .2rem;
  }

  .global-menu ul.sub-menu li a {
    color: currentColor;
  }

  .sidebar nav > ul > li:first-child a {
    border-top: solid 1px #eeeeee;
  }

  .sidebar-toggle {
    display: none;
  }

  .logo {
    width: 32px;
  }
}
