@font-face {
  font-family: "Proxima Nova";
  src: url("./ProximaNova-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./ProximaNova-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./ProximaNova-Bold.ttf");
  font-weight: 900;
  font-style: normal;
}
